.title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.container {
  position: relative;
  top: 10px;
  left: 60px;
  width: 1400px;
  margin: 20px auto 0;
  background-color: rgb(255 255 255);
}

.gameTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; /* テキストを中央に配置 */
}

.coachTitle {
  position: relative;
  top: 20px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.coachTitle2 {
  position: relative;
  top: 40px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.coach {
  position: relative;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255 255 255);
}

.deleteBtn {
  float: right;
}

.gameList {
  position: relative;
  top: 60px;
  display: flex; /* Flexboxを使用して要素を横に並べる */
  gap: 60px; /* 要素間の間隔 */
  justify-content: center; /* 中央寄せ */
}

.gameItem {
  display: flex; /* Flexboxを使用して */
  flex-direction: column; /* 縦方向に並べる */
  align-items: center; /* アイテムを縦方向中央に配置 */
  margin-bottom: 20px; /* 下部の余白を設定 */
  text-align: center; /* テキストを中央に配置 */
}

.gameTitle2 {
  margin-top: 10px; /* アイコンとタイトルの間隔 */
  font-size: 16px; /* タイトルのフォントサイズ */
  color: #333; /* タイトルの色 */
}

.gameIconContainer {
  display: flex; /* Flexboxを使用して */
  align-items: center; /* 中央寄せ */
  justify-content: center; /* 中央寄せ */
  width: 140px; /* アイコンコンテナの幅 */
  height: 140px; /* アイコンコンテナの高さ */
  overflow: hidden; /* 円形の外側を非表示にする */
  background-color: rgb(224 224 224); /* 背景色 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを停止 */
  background-position: center; /* 背景画像を中央に配置 */
  background-size: 70% 50%; /* コンテナの50%のサイズに設定 */
  border-radius: 50%; /* 円形にする */
  object-fit: contain; /* 画像がコンテナ内に収まるように調整 */
}

.gameIcon {
  /* 画像が`<img>`タグで使われている場合のスタイル */
  width: 100%; /* コンテナ内での最大幅 */
  object-fit: cover; /* 余白なしでコンテナを満たす */
}

.container3 {
  position: relative;
  top: 30px;
  width: 199px;
  height: 199px;
  margin: 20px auto 0;
  background-color: rgb(255 22 22);
}

.userSummary {
  width: 170px; /* Sets the width of the container */
  height: 200px; /* Sets the height of the container */
  text-align: center; /* Centers the content */
}

.userImage {
  position: relative;
  top: 30px;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.userName {
  margin-top: 60px; /* Adjust space between name and image */
  font-size: 17px;
  font-weight: bold;
}

.myProfile {
  position: relative;
  top: 10px;
  right: 15px;
  width: 200px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap; /* テキストを1行に保つ */
  background-color: rgb(255 255 255);
}

.userList {
  position: relative;
  top: 40px;
  display: flex; /* Flexboxを使用して要素を横に並べる */
  gap: 70px; /* 要素間の間隔 */
  justify-content: center; /* 中央寄せ */
}

.allContainer {
  position: absolute;
  top: 20%;
  left: 45%;
  height: auto;
  transform: translate(-50%);
}

.rate {
  position: relative;
  top: 40px;
  right: 10px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 30px;
  font-size: 30px;
  color: #c4c4c4; /* 背景の灰色の星 */
}

.rateInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  color: #ffb906; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.coachContainer {
  position: relative;
  top: 80px;
  left: 60px;
  width: 1500px;
  margin: 20px auto 0;
  margin-bottom: 90px;
  background-color: rgb(255 255 255);
}

.recruitContainer {
  position: relative;
  top: 120px;
  left: 60px;
  background-color: #ffffff;
  width: 1500px;
  margin: 20px auto 0;
}

.recruitListTitle {
  position: relative;
  top: 50px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.recruitList {
  position: relative;
  top: 90px;
  left: 190px;
  display: flex;
  flex-wrap: wrap; /* これにより、アイテムが折り返される */
  gap: 70px; /* 要素間の間隔 */
  width: 1240px;
}

.recruitSummary {
  width: calc((100% / 4) - 80px); /* 一行に4つのアイテムが収まるように調整 */
  height: 390px;
  margin-bottom: 20px; /* 下部の余白を設定 */
  background-color: rgb(244 244 244);
  box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
}

.recruitListImage {
  display: flex; /* Flexboxを使用して要素を横に並べる */
  justify-content: center; /* 中央寄せ */
}

.recruitDetailTitle {
  position: relative;
  top: 10px;
  display: -webkit-box;
  height: 45px;
  padding-right: 18px;
  padding-left: 18px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 14px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行まで表示 */
}

.gameIconContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(181 181 181);
  background-position: center;
  background-size: cover; /* アスペクト比を保持しつつ、コンテナに合わせてサイズ調整 */
  border: 3px solid rgb(224 224 224);
}

.divide {
  position: relative;
  top: 80px;
  width: 72%; /* ここで幅を設定 */
  height: 1px; /* 線の高さ */
  margin: 20px auto; /* 上下の余白と左右を自動で中央寄せ */
  background-color: #c4c1c1; /* 線の色 */
}

.divide2 {
  position: relative;
  top: 130px;
  width: 72%; /* ここで幅を設定 */
  height: 0.8px; /* 線の高さ */
  margin: 20px auto; /* 上下の余白と左右を自動で中央寄せ */
  background-color: #c4c1c1; /* 線の色 */
}

.recruitDetail {
  position: relative;
  display: -webkit-box;
  padding: 3px;
  margin-right: 18px;
  margin-left: 18px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 13px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  letter-spacing: -0.1px; /* 文字の間隔を狭める */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 2行まで表示 */
}

.recruitDetailLessonType {
  position: relative;
  display: -webkit-box;
  padding: 3px;
  margin-right: 18px;
  margin-left: 11px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 11px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行まで表示 */
}

.lessonType {
  position: relative;
  padding: 1px 4px; /* 内側の余白 */
  margin-right: 8px; /* ボタン間の余白 */
  font-size: 11px; /* フォントサイズ */
  font-weight: bold;
  color: white; /* テキストの色 */
  cursor: pointer; /* カーソルを指の形に */
  background-color: #0cf117; /* ボタンの背景色 */
  border: none; /* 枠線を削除 */
  border-radius: 4px; /* 角丸の半径 */

  /* その他のスタイル */
}

.blueTitle {
  position: absolute;
  top: 20px;
  left: 1250px;
  font-size: 15px;
  font-weight: bold;
  color: #0141c193;
  transform: translateX(-50%);
}

.blueTitle:hover {
  color: #0141c193;
}

.blueTitle2 {
  position: absolute;
  top: 50px;
  left: 1250px;
  font-size: 15px;
  font-weight: bold;
  color: #0141c193;
  transform: translateX(-50%);
}

.blueTitle2:hover {
  color: #0141c193;
}

.recruitContainer1 {
  position: relative;
  top: -10px;
  left: 17px;
  width: 200px;
  background-color: rgb(244 244 244);
}
