.title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.container {
  position: relative;
  top: 10px;
  left: 60px;
  width: 1300px;
  height: auto;
  margin: 20px auto 0;
}

.container2 {
  position: relative;
  top: 60px;
  left: 80px;
  width: 1300px;
  margin: 20px auto 0;
}

.container5 {
  position: relative;
  top: 70px;
  width: 100%;
  height: 500px;
  margin: 20px auto 0;
  background-color: rgb(255 255 255);
}

.gameTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #6e6e6e;
  text-align: center; /* テキストを中央に配置 */
}

.coachTitle {
  position: relative;
  top: 20px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.coachTitle2 {
  position: relative;
  top: 40px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.coachTitle6 {
  position: relative;
  top: 40px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.coach {
  position: relative;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255 255 255);
}

.deleteBtn {
  float: right;
}

.gameList {
  position: relative;
  top: 60px;
  left: 50px;
  display: flex; /* Flexboxを使用して要素を横に並べる */
  gap: 60px;
  width: 1000px;
  margin-left: 60px; /* 要素間の間隔 */
  overflow-x: auto; /* 横にはみ出したらスクロールバーを表示 */
}

.gameItem {
  display: flex; /* Flexboxを使用して */
  flex-direction: column; /* 縦方向に並べる */
  align-items: center; /* アイテムを縦方向中央に配置 */
  margin-bottom: 20px; /* 下部の余白を設定 */
}

.gameTitle2 {
  margin-top: 10px; /* アイコンとタイトルの間隔 */
  font-size: 16px; /* タイトルのフォントサイズ */
  color: #333; /* タイトルの色 */
}

.gameIconContainer {
  display: flex; /* Flexboxを使用して */
  align-items: center; /* 中央寄せ */
  justify-content: center; /* 中央寄せ */
  width: 140px; /* アイコンコンテナの幅 */
  height: 140px; /* アイコンコンテナの高さ */
  overflow: hidden; /* 円形の外側を非表示にする */
  background-color: rgb(224 224 224); /* 背景色 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを停止 */
  background-position: center; /* 背景画像を中央に配置 */
  background-size: 70% 50%; /* コンテナの50%のサイズに設定 */
  border-radius: 50%; /* 円形にする */
  object-fit: contain; /* 画像がコンテナ内に収まるように調整 */
}

.gameIcon {
  /* 画像が`<img>`タグで使われている場合のスタイル */
  width: 100%; /* コンテナ内での最大幅 */
  object-fit: cover; /* 余白なしでコンテナを満たす */
}

.container3 {
  position: relative;
  top: 30px;
  width: 199px;
  height: 199px;
  margin: 20px auto 0;
  background-color: rgb(255 22 22);
}

.userSummary {
  width: 240px; /* Sets the width of the container */
  height: 340px; /* Sets the height of the container */
  background-color: rgb(255 255 255);
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.userSummary2 {
  width: 240px; /* Sets the width of the container */
  height: 390px; /* Sets the height of the container */
  background-color: rgb(255 255 255);
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.userImage {
  position: relative;
  width: 240px; /* 必要に応じてサイズを調整 */
  height: 240px; /* 必要に応じてサイズを調整 */
  overflow: hidden; /* 枠を超える内容（画像など）を非表示に */
  border-radius: 15px 15px 0 0; /* 上部にのみ丸みを適用 */
}

.userImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.userImageContainer:hover {
  transform: scale(1.25);
}

.userImage::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* この要素の上のクリック等を無視 */
  content: '';
  border-radius: 15px 15px 0 0;
  box-shadow: inset 1px -61px 41px -31px rgb(96 96 96 / 50%);
}

.userName {
  position: relative;
  top: -9px;
  left: 10px;
  display: -webkit-box;
  width: 200px;
  height: auto;
  overflow: hidden; /* 余分なテキストを隠す */
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 2行まで表示 */
}

.myProfile {
  position: relative;
  top: -22px;
  left: 10px;
  z-index: 100;
  width: 200px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 14px rgb(80 80 80 / 50%);
  white-space: nowrap; /* テキストを1行に保つ */
}

.myProfile2 {
  position: relative;
  top: -2px;
  left: 10px;
  z-index: 100;
  width: 200px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 13px;
  color: #53578d;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgb(214 214 214 / 50%);
  white-space: nowrap; /* テキストを1行に保つ */
}

.userList {
  position: relative;
  top: 80px;
  left: 50%;
  display: flex; /* Flexboxを使用して要素を横に並べる */
  flex-wrap: wrap; /* 要素がコンテナの幅を超えると折り返す */
  gap: 20px; /* 要素間の間隔 */
  justify-content: center; /* 中央寄せ */
  width: 1200px;
  height: auto; /* 高さをautoに設定して、内容に応じて自動調整させる */
  transform: translate(-50%);
}

.allContainer {
  position: relative;
  top: 110px;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%);
}

.rate {
  position: relative;
  top: -13px;
  left: 7px;
  display: inline-block;
  width: 100px; /* 最大の星の幅 */
  height: 25px;
  font-size: 20px;
  color: #c4c4c4; /* 背景の灰色の星 */
  letter-spacing: -2px;
}

.rateInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  color: #f55; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.coachContainer {
  position: relative;
  top: 52px;
  width: 100%;
  height: 880px;
  margin: 20px auto 0;
  margin-bottom: 90px;
  background-color: #f4fcfc;
}

.recruitContainer {
  position: relative;
  left: 60px;
  width: 1500px;
  height: auto;
  padding-bottom: 400px;
  margin: 20px auto 0;
}

.recruitListTitle {
  position: relative;
  top: 50px;
  right: 500px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(103 103 103);
  text-align: center;
}

.recruitList {
  position: relative;
  top: 80px;
  left: 50%;
  display: flex; /* Flexboxを使用して要素を横に並べる */
  flex-wrap: wrap; /* 要素がコンテナの幅を超えると折り返す */
  gap: 20px; /* 要素間の間隔 */
  justify-content: center; /* 中央寄せ */
  width: 1200px;
  height: auto; /* 高さをautoに設定して、内容に応じて自動調整させる */
  transform: translate(-50%);
}

.recruitSummary {
  position: relative;
  right: 50px;
  width: 240px; /* Sets the width of the container */
  height: auto; /* Sets the height of the container */
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.recruitListImage {
  display: flex; /* Flexboxを使用して要素を横に並べる */
  justify-content: center; /* 中央寄せ */
}

.recruitDetailTitle {
  position: relative;
  top: 10px;
  display: -webkit-box;
  height: 45px;
  padding-right: 18px;
  padding-left: 18px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 14px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行まで表示 */
}

.gameIconContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(181 181 181);
  background-position: center;
  background-size: cover; /* アスペクト比を保持しつつ、コンテナに合わせてサイズ調整 */
  border: 3px solid rgb(224 224 224);
}

.divide {
  position: relative;
  top: 80px;
  width: 72%; /* ここで幅を設定 */
  height: 1px; /* 線の高さ */
  margin: 20px auto; /* 上下の余白と左右を自動で中央寄せ */
  background-color: #c4c1c1; /* 線の色 */
}

.divide2 {
  position: relative;
  top: 130px;
  width: 72%; /* ここで幅を設定 */
  height: 0.8px; /* 線の高さ */
  margin: 20px auto; /* 上下の余白と左右を自動で中央寄せ */
  background-color: #c4c1c1; /* 線の色 */
}

.recruitDetail {
  position: relative;
  left: 11px;
  display: -webkit-box;
  width: 217px;
  padding: 3px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 12px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  letter-spacing: -0.5px; /* 文字の間隔を狭める */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 2行まで表示 */
}

.recruitDetailLessonType {
  position: relative;
  display: -webkit-box;
  padding: 3px;
  margin-right: 18px;
  margin-left: 11px;
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 11px;
  text-overflow: ellipsis; /* 末尾に省略記号を表示 */
  white-space: normal; /* 複数行のテキストに変更 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行まで表示 */
}

.lessonType {
  position: relative;
  top: -3px;
  padding: 1px 4px; /* 内側の余白 */
  margin-right: 8px; /* ボタン間の余白 */
  font-size: 9px; /* フォントサイズ */
  font-weight: bold;
  color: rgb(32 106 252); /* テキストの色 */
  cursor: pointer; /* カーソルを指の形に */
  background-color: rgb(254 254 254);
  border: 1px solid rgb(32 106 252); /* 枠線を青色に */
  border-radius: 20px; /* 角丸の半径 */
}

.blueTitle {
  position: absolute;
  top: 20px;
  left: 1100px;
  font-size: 15px;
  font-weight: bold;
  color: #0141c193;
  transform: translateX(-50%);
}

.blueTitle:hover {
  color: #0141c193;
}

.blueTitle2 {
  position: absolute;
  top: 50px;
  left: 1250px;
  font-size: 15px;
  font-weight: bold;
  color: #0141c193;
  transform: translateX(-50%);
}

.blueTitle2:hover {
  color: #0141c193;
}

.recruitContainer1 {
  position: relative;
  top: -7px;
  left: 9px;
  width: 200px;
  overflow: hidden;

  /* テキストがオーバーフローした場合の振る舞いを定義 */
  text-overflow: ellipsis; /* オーバーフローしたテキストの末尾を省略記号で表示 */
  white-space: nowrap; /* テキストを1行にする */
}

.allContainer1 {
  position: relative;
  width: 100%;
  height: 1600px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(146,768,347)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23DBFFFB'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.r6 {
  position: relative;
  top: -3px;
  left: 11px;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e6e;
}

.img {
  width: 100%;
  height: auto;
}

/* スクロールバー全体のスタイル */
.gameList::-webkit-scrollbar {
  width: 5px; /* スクロールバーの幅 */
  height: 5px; /* 垂直スクロールバーの高さ、水平スクロールバーにも適用される */
  border-radius: 10px; /* スクロールバーの角を丸くする */
}

/* スクロールバーのトラック（背景部分）のスタイル */
.gameList::-webkit-scrollbar-track {
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

/* スクロールバーのサム（スクロール可能な部分）のスタイル */
.gameList::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0af, #06c); /* 明るい色のグラデーション */
  border-radius: 10px; /* サムの角を丸くする */
}

/* ホバー時のスクロールバーのサムのスタイル */
.gameList::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0bf, #08d); /* ホバー時に色を変える */
}

.yoko {
  position: relative;
  display: flex;
}

.rating {
  position: relative;
  top: -9px;
  left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.count {
  position: relative;
  top: -7px;
  left: 9px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.userListContainer {
  position: relative;
  top: 60px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* アイテム間の隙間 */
  justify-content: space-between; /* アイテム間のスペースを均等に配分 */
  width: 1000px;
  height: 370px;
  transform: translate(-50%);
}

/* 各ユーザーアイテムのスタイル */
.userItem {
  position: relative;
  top: 30px;
  left: 80px;
  display: flex;
  flex-direction: column; /* 写真と名前を縦に並べる */
  align-items: center; /* 中央揃え */
  width: calc(100% / 7 - 10px); /* 8個を横に並べるための幅（gapを考慮） */
}

/* ユーザー写真のスタイル */
.userImage2 {
  width: 120px;
  height: 120px;
  background-color: rgb(255 255 255);
  border: 3px solid rgb(255 150 224);
  border-radius: 50%;
}

/* ユーザー名のスタイル */
.userName2 {
  width: 130px;
  margin-top: 7px; /* 写真と名前の間のスペース */
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #727272;
  text-align: center;
}
