.searchContainer {
  position: relative;
  top: 170px;
  left: 250px;
  width: 300px;
  height: 600px;
  background-color: #fff;
}

.allContainer {
  position: absolute; /* 絶対位置指定 */
  left: 50%; /* 水平方向の中央 */
  width: 100%;
  height: auto;
  background-color: rgb(255 255 255);
  transform: translate(-50%); /* X軸とY軸の両方で中央揃え */
}

.searchNameContainer {
  position: relative;
  top: 5px;
  left: auto;
  width: 300px;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 20px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);
  border-bottom: 2px solid rgb(142 142 142);
}

.blueTitle {
  position: absolute;
  top: 8px;
  left: 275px;
  width: 90px;
  font-family: Arial, sans-serif; /* Use single quotes around font names */
  font-size: 17px;
  font-weight: 700; /* Bold font weight */
  color: #0141c193;
  background-color: #fff;
  transform: translateX(-50%);
}

.searchNameContainer2 {
  position: relative;
  top: 5px;
  left: auto;
  padding-bottom: 17px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(0 0 0);
  border-bottom: 2px solid rgb(142 142 142);
}

.rankContent {
  /* ランクとチェックマークのスタイル */
}

.rankDropdown {
  /* 既存のスタイル... */
  position: relative;
  padding-right: 20px; /* 矢印のスペースを確保する */
  cursor: pointer;
}

.dropdownIcon {
  /* 矢印マークのスタイリング */
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  padding: 3px; /* 矢印のサイズ */
  border: solid black;
  border-width: 0 2px 2px 0; /* 線の太さを調整 */
  transition: transform 0.3s ease; /* アニメーション効果 */
  transform: translateY(-50%) rotate(45deg); /* 下向き矢印 */
}

.rankDropdown.active .dropdownIcon {
  transform: translateY(-50%) rotate(-135deg); /* 上向き矢印 */
}

.rankCheckboxes {
  display: none; /* 初期状態では非表示 */
  flex-direction: column;
  gap: 3px;
  padding: 20px 30px; /* 上下のパディング */
  font-size: 12px;
  font-weight: 500;
}

.rankDropdown.active + .rankCheckboxes {
  display: flex; /* アクティブなときに表示 */
}

.rankCheckboxes label {
  display: flex;
  align-items: center;
  margin-top: 5px; /* ラベル間の余白 */
}

/* チェックボックスのテキストサイズを設定 */
.rankCheckboxes label span {
  font-size: 17px; /* 例として14ピクセルに設定 */
}

/* チェックボックスのスタイリング */
.rankCheckboxes input[type='checkbox'] {
  margin-right: 20px; /* チェックボックスとテキストの間隔 */
}

.search {
  position: relative;
  top: 5px;
  left: auto;
  padding-top: 20px;
  padding-bottom: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; /* 文字の大きさを17pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(0 0 0);
  text-align: center; /* テキストを中央揃えにする */
  background-color: #d6fbfc; /* 背景色を灰色に設定する */
  border-bottom: 2px solid rgb(142 142 142);
}

.homeContainer {
  position: relative;
  top: 160px;
  left: 250px;
  display: flex;
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  width: 300px;
  height: 30px;
  color: rgb(82 82 82);
  background-color: rgb(255 255 255);
}

.home {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  background-color: #fff;
}

.home:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home2 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  background-color: #fff;
}

.home2:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home3 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* 文字の大きさを17pxに設定する */
  color: rgb(179 173 173);
  background-color: #fff; /* 背景色を灰色に設定する */
}
