.searchContainer {
  position: relative;
  width: 250px;
  height: auto;
}

.searchDetailContainer {
  position: relative;
  top: 12px;
  left: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(25 98 215);
}

.sea2 {
  position: relative;
  left: 17px;
  width: 90%;
  height: auto;
  background-color: #fff;
}

.sea3 {
  position: relative;
  left: 17px;
  width: 90%;
  height: auto;
  margin-bottom: 25px;
  background-color: #fff;
}

.sea {
  position: relative;
  left: 17px;
  width: 90%;
  height: auto;
  background-color: #fff;
}

.sea1 {
  position: relative;
  left: 27px;
  width: 90%;
  height: auto;
}

.allContainer {
  position: absolute; /* 絶対位置指定 */
  left: 50%; /* 水平方向の中央 */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  zoom: 0.9;
  transform: translate(-50%); /* X軸とY軸の両方で中央揃え */
}

.sContainer3 {
  position: relative;
  top: 200px;
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  padding-bottom: 100px;

  /* background-color: #f6f6f6; */

  /* box-shadow: rgb(0 0 0 / 24%) 0 3px 8px; */
}

.searchNameContainer {
  position: relative;
  top: 3px;
  left: 20px;
  width: 300px;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 19px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);
}

.blueTitle {
  position: absolute;
  top: 20px;
  left: 195px;
  width: 60px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: rgb(92 92 255);
  background-color: #fff;
  transform: translateX(-50%);
}

.blueTitle::after {
  position: absolute;
  top: 16px;
  left: 0;
  width: 38px; /* 下線の幅を要素の幅に合わせる */
  height: 1px; /* 下線の太さ */
  content: '';
  background-color: rgb(92 92 255); /* 下線の色 */
}

.blueTitle:hover {
  color: rgb(117 149 246);
}

.sd {
  position: relative;
  height: auto;
}

.searchNameContainer2 {
  position: relative;
  top: -7px;
  left: 17px;
  width: 90%;
  height: 45px;
  padding-bottom: 17px;
  margin-bottom: -1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(92 92 92);
  background-color: rgb(255 255 255);
  border-top: 1px solid rgb(188 188 188);
  border-bottom: 1px solid rgb(188 188 188);
}

.rankContent {
  /* ランクとチェックマークのスタイル */
}

.rankDropdown {
  /* 既存のスタイル... */
  position: relative;
  padding-right: 20px; /* 矢印のスペースを確保する */
  cursor: pointer;
}

.dropdownIcon {
  /* 矢印マークのスタイリング */
  position: absolute;
  top: 96%;
  right: 20px;
  display: inline-block;
  padding: 3px; /* 矢印のサイズ */
  color: rgb(255 255 255);
  border: solid rgb(37 125 203);
  border-width: 0 2px 2px 0; /* 線の太さを調整 */
  transition: transform 0.3s ease; /* アニメーション効果 */
  transform: translateY(-50%) rotate(45deg); /* 下向き矢印 */
}

.rankDropdown.active .dropdownIcon {
  transform: translateY(-50%) rotate(-135deg); /* 上向き矢印 */
}

.rankCheckboxes {
  flex-direction: column;
  gap: 3px;
  height: 300px;
  padding: 10px 30px; /* 上下のパディング */
  font-size: 12px;
  font-weight: 500;
}

.rankDropdown.active + .rankCheckboxes {
  display: flex; /* アクティブなときに表示 */
}

.rankCheckboxes label {
  display: flex;
  align-items: center;
  margin-top: 5px; /* ラベル間の余白 */
}

/* チェックボックスのテキストサイズを設定 */
.rankCheckboxes label span {
  font-size: 17px; /* 例として14ピクセルに設定 */
}

/* チェックボックスのスタイリング */
.rankCheckboxes input[type='checkbox'] {
  margin-right: 20px; /* チェックボックスとテキストの間隔 */
  background-color: antiquewhite;
}

.search {
  position: relative;
  top: 20px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 190px;
  height: 35px;
  padding: 10px 25px;
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  background-color: rgb(76 136 255);
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.search:hover {
  background-color: rgb(111 173 255);
}

.homeContainer {
  position: relative;
  top: 160px;
  display: flex;
  width: 300px;
  height: 30px;
  color: rgb(82 82 82);
}

.home {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

.home:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home2 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

.home2:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home3 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* 文字の大きさを17pxに設定する */
  color: rgb(179 173 173);
}

.sContainer {
  position: relative;
  top: 20px;
  left: 20px;
  width: 260px;
  height: auto;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: rgb(255 255 255);
  box-shadow: 0 0 3px rgb(103 103 103 / 70%), /* 明るいシアンの光沢 */ 0 0 1px rgb(0 255 255 / 50%),
    /* より広がったシアンの光 */ inset 0 0 2px rgb(255 255 255 / 50%); /* 内側の強いハイライト */

  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.sContainer2 {
  position: relative;
  top: 50px;
  left: 20px;
  width: 260px;
  height: auto;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: rgb(255 255 255);
  box-shadow: 0 0 3px rgb(103 103 103 / 70%), /* 明るいシアンの光沢 */ 0 0 1px rgb(0 255 255 / 50%),
    /* より広がったシアンの光 */ inset 0 0 2px rgb(255 255 255 / 50%); /* 内側の強いハイライト */

  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.categoryHeader {
  position: relative;
  top: -6px;
  left: 25px;
  display: flex; /* Flexboxを有効化 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
  width: 80%;
  border-bottom: 1px solid rgb(197 197 197);
}

.categoryHeader2 {
  position: relative;
  top: -6px;
  left: 17px;
  display: flex;
  align-items: center;
  width: 90%;
  height: 50px;

  /* border-bottom: 1px solid rgb(142 142 142); */
}

.categoryTitle {
  position: relative;
  top: 3px;
  left: 20px;
  width: 300px;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 19px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);
}

.gameList {
  position: relative;
}

.gameItem {
  position: relative;
  left: 25px;
  width: 80%;
  height: 34px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(197 197 197);
}

.gameItem2 {
  position: relative;
  left: 35px;
  width: 300px;
  font-weight: 400;
  color: rgb(19 90 189);
}

.gameItem2:hover {
  color: rgb(90 151 237);
}

.categoryIcon {
  position: relative;
  top: 6px;
  left: 14px;
}

.categoryIcon2 {
  position: relative;
  top: 5px;
  left: 10px;
}

.category {
  position: relative;
  top: 10px;
  left: 30px;
  font-weight: 400;
  color: rgb(19 90 189);
}

.categoryArrow {
  position: relative;
  top: -10px;
  left: 170px;
  color: rgb(19 90 189);
}

/* チェックボックスを非表示にする */
.rankCheckboxes2 input[type='checkbox'] {
  display: none;
}

/* ラベルのスタイリング */
.rankCheckboxes2 label {
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  background-color: #fff; /* ボタンの背景色 */
}

/* チェックされたときのラベルスタイル */

/* ホバー時のスタイル */
.rankCheckboxes2 span:hover {
  color: #fff;
  background-color: #2b40fc; /* ホバー時の背景色 */
  border-radius: 20px;
}

.rankCheckboxes2 input[type='checkbox']:checked + span {
  display: inline-block;
  height: 24px;
  padding: 3px 6px;
  color: #fff; /* アクティブなボタンのテキスト色 */
  background-color: #346bf5; /* ホバー時の背景色 */
  border: 1px solid #2032f9; /* 青い線を追加 */
  border-radius: 20px; /* 丸みを帯びたボーダー */
}

.ra {
  position: relative;
  height: 22px;
  padding: 3px 6px;
  margin: 3px;
  font-size: 11px;
  color: #2032f9; /* テキストの色 */
  background-color: #fff; /* ホバー時の背景色 */
  border: 1px solid #2032f9; /* 青い線を追加 */
  border-radius: 20px; /* 丸みを帯びたボーダー */
  transition: background-color 0.3s; /* 背景色の変化を滑らかに */
}

.rankCheckboxes2 {
  position: relative;
  left: 10px;
  padding-top: 15px;
  padding-bottom: 35px;
}

.searchInput {
  position: relative;
  top: 15px;
  left: 3px;
  width: 95%;
  height: 40px;
  padding-left: 3px;
  margin-bottom: 15px;
  font-size: 13px;
  color: rgb(77 77 77);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
}

.searchInput2 {
  position: relative;
  top: 15px;
  left: 20px;
  width: 80%;
  height: 40px;
  padding-left: 7px;
  margin-bottom: 15px;
  font-size: 13px;
  color: rgb(77 77 77);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
}

.searchI {
  position: relative;
}

.sell {
  /* 実際のクラス名に置き換えてください */
  display: none;
}

/* カスタムチェックボックスのスタイル */
/* stylelint-disable-next-line no-descending-specificity */
.sell + span {
  position: relative;
  padding-left: 35px; /* テキストの前にチェックボックスを配置するスペース */
  cursor: pointer;
  user-select: none; /* テキストの選択を防止 */
}

/* チェックボックスの見た目（ボックス） */
.sell + span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* ボックスのサイズ */
  height: 20px;
  content: '';
  background-color: #e3e3e3; /* チェックボックスの背景色 */
  border-radius: 4px; /* 角丸のサイズ */
}

.sell:checked + span::before {
  background-color: #3b6cf5; /* チェックされたときの背景色 */
}

/* チェックされたときのチェックマークのスタイル */
.sell:checked + span::after {
  position: absolute;
  top: 2px;
  left: 7px;
  width: 4px;
  height: 10px;
  content: '';
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* CSS */
.button34 {
  box-sizing: border-box;
  width: fit-content;
  padding: 8px 18px;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji,
    'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  word-break: break-word;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #5e5df0;
  border: 0;
  border-radius: 999px;
  outline: 0 solid transparent;
  box-shadow: #5e5df0 0 10px 20px -10px;
  opacity: 1;
}
