.parent {
  position: relative;
  top: 100px;
  right: 80px;
  display: flex;
  align-items: start;
  width: 1500px;
}

.container {
  position: relative;
  left: 300px;
  display: inline-block; /* 追加 */
  width: 670px;
  height: auto; /* 適切な値に変更 */
  margin: 0; /* マージンをリセット */
  background: rgb(239 53 53);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Optional: adds a subtle shadow */
}

.detail {
  position: relative;
  top: 20px;
  left: 40px;
  width: 20%;
  height: auto;
  font-size: 22px; /* フォントサイズを16ピクセルに設定 */
  background: #fff;
}

.detailContent {
  position: relative;
  width: 670px;
  height: auto;
  padding-bottom: 80px;
  font-size: 22px;
  font-weight: 700;
  color: #5d5d5d;
  background: rgb(255 255 255);
  border: 1px solid #fff; /* 枠線の太さとスタイルを追加 */
}

.rank {
  position: relative;
  right: 30px;
  width: 90px;
  height: auto;
  font-size: 22px;
  background: #fff;
}

.subjectRankContainer {
  position: relative;
  left: 60px;
  width: 80%;
  height: auto;
  margin-top: 100px;
  font-size: 17px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background: rgb(255 255 255);
}



.rankImagesContainer {
  position: relative;
  top: 60px;
  left: 20px;
  display: flex; /* Use flexbox to lay out the children */
  align-items: center; /* Center the items vertically */
  justify-content: flex-start; /* Align the items to the start of the container */
}

.aadw {
  position: relative;
}

.subjectRank {
  position: relative;
  width: 60px;
  height: auto;
  margin-left: 10px;
  background: rgb(255 255 255);
}

.subjectRankTitle {
  position: relative;
  width: 70%;
  height: 20px;
  font-size: 16px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  white-space: nowrap;
  background: rgb(255 255 255);
}

.lessonTypeContainer {
  position: relative;
  left: 60px;
  flex-direction: row;
  align-items: center; /* 子要素を垂直方向の中央に配置 */
  width: 80%;
  height: auto;
  margin-top: 100px;
  font-size: 17px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background: rgb(255 255 255);
}

.lessonType {
  position: relative;
  top: 30px;
  left: 20px;
  width: 70%; /* 親コンテナの幅に合わせる */
  font-size: 19px;
  font-weight: normal;
  color: #000;
  background: rgb(255 255 255);
}

.sucheduleContainer {
  position: relative;
  left: 60px;
  flex-direction: row;
  align-items: center; /* 子要素を垂直方向の中央に配置 */
  width: 80%;
  margin-top: 100px;
  font-size: 17px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background: rgb(255 255 255);
}

.suchedule {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 19px;
  font-weight: normal;
  color: #000;
}

.notesContainer {
  position: relative;
  left: 60px;
  flex-direction: row;
  align-items: center; /* 子要素を垂直方向の中央に配置 */
  width: 80%;
  margin-top: 100px;
  font-size: 17px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background: rgb(255 255 255);
}

.notes {
  position: relative;
  top: 50px;
  left: 20px;
  background-color: #fff;
}

.descriptionContainer {
  position: relative;
  left: 60px;
  width: 80%;
  height: auto;
  margin-top: 90px;
  font-size: 17px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  text-align: left;
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background: rgb(255 255 255);
}

.descriptionTitle2 {
  position: relative;
  width: 70%;
  height: 20px;
  font-size: 16px;
  color: rgb(95 94 94); /* 文字色を灰色に設定 */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  white-space: nowrap;
  background: rgb(255 255 255);
}

.description {
  position: relative;
  top: 20px;
  left: 20px;
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: normal;
  color: #000;
  text-align: left; /* Aligns text to the left */
  letter-spacing: -1px; /* 文字の間隔を狭める */
  background-color: #fff;
}

.profileContainer {
  position: relative;
  display: inline-block;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 20px; /* Optional: adds space inside the container */
  padding-bottom: 40px;
  font-size: 19px;
  background: rgb(255 255 255);
  border: 1px solid #ccc; /* Optional: adds a border */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Optional: adds a subtle shadow */
}

.userImage {
  position: relative;
  top: 40px;
  left: 80px;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.ratingContainer {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start; /* Aligns items to the start of the container horizontally */
}

.rate {
  position: relative;
  top: 40px;
  left: 21px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 30px;
  font-size: 30px;
  color: #c4c4c4; /* 背景の灰色の星 */
}

.rateInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  color: #ffb906; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.rating {
  position: relative;
  top: 13px;
  left: 200px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 20px;
  font-size: 25px;
  color: #454444; /* 背景の灰色の星 */
}

.name {
  position: relative;
  top: 50px;
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center the child elements */
  width: 100%;
  height: 50px;
}

.achievementsContainer {
  position: relative;
  top: 50px;
  left: 20px;
  width: 90%;
  height: auto;
  background-color: #fff;
}

.achievements {
  position: relative;
  top: -20px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.achievementsTitle {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background: rgb(255 255 255);
}

.descriptionDetailContainer {
  position: relative;
  left: 20px;
  width: 90%;
  height: auto;
  margin-top: 80px;
  background-color: #fff;
}

.descriptionTitle {
  position: relative;
  top: -20px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.descriptions {
  position: relative;
  top: -10px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.gameImageContainer {
  position: relative;
  width: 90%;
  height: 250px;
  background-color: #fff;
}

.gameImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(54 54 54);
  background-position: center;
  background-size: cover; /* アスペクト比を保持しつつ、コンテナに合わせてサイズ調整 */
  border: 3px solid rgb(224 224 224);
}

.button {
  position: relative;
  width: 400px;
  padding: 10px 20px; /* ボタンの内側の余白を設定 */
  margin-top: 100px;
  margin-left: 120px;
  font-size: 16px; /* テキストのサイズを設定 */
  font-weight: bold; /* テキストを太字に */
  color: white; /* テキストの色を白に */
  cursor: pointer; /* ホバー時にカーソルをポインターに */
  background-color: #36bdf7; /* ボタンの背景色を緑に */
  border: none; /* 枠線を非表示に */
  border-radius: 5px; /* 角を丸く */
  transition: background-color 0.3s; /* 背景色の変化を滑らかに */
}

.button:hover {
  background-color: #2486a6; /* ホバー時の背景色を少し暗く */
}

.button:active {
  background-color: #397d35; /* クリック時の背景色をもっと暗く */
}

.reviewContainer {
  position: relative;
  top: 50px;
  width: 300px;
  height: auto;
  border: 1px solid #ccc; /* Optional: adds a border */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Optional: adds a subtle shadow */
}

.reviewTitle {
  position: relative;
  top: 20px;
  left: 30px;
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-weight: bold; /* 文字を太字に */
  color: #6c6d6d;
}

.review {
  position: relative;
  left: 30px;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  font-size: 22px;
  color: #5b5b5b;
}

.reviewA {
  position: relative;
  top: 20px;
  left: 10px;
}

.reviewImage {
  position: relative;
  width: 40px;
  height: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover; /* アスペクト比を保持しつつ、コンテナに合わせてサイズ調整 */
  border: 3px solid rgb(224 224 224);
  border-radius: 50%;
}

.reviewName {
  position: relative;
  top: 13px;
  left: 10px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: #000;
}

.reviewRating {
  position: relative;
  top: 9px;
  left: 10px;
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #6c6d6d;
}

.reviewDescription {
  position: relative;
  max-width: 80%; /* 最大の幅を親要素に合わせる */
  padding: 10px;
  margin: 10px 0;
  font-size: 12px;
  word-wrap: break-word; /* 長い単語でも折り返す */
  background-color: #f0f0f0;
  border-radius: 10px;
}

.reviewDescription::before {
  position: absolute;
  bottom: -10px; /* 吹き出しの位置を調整 */
  left: 20px;
  content: '';
  border-color: #f0f0f0 transparent transparent;
  border-style: solid;
  border-width: 10px;
}

.reviewHeader {
  display: flex;
  gap: 10px; /* Adjust the gap between the image and the name as needed */
  align-items: center; /* Vertically centers the content */
}

.ratingContainer2 {
  display: flex;
  gap: 10px; /* Adjust the gap between the image and the name as needed */
  align-items: center; /* Vertically centers the content */
}

.rate2 {
  position: relative;
  display: inline-block;
  width: 100px; /* 最大の星の幅 */
  height: auto;
  font-size: 20px;
  color: #c4c4c4; /* 背景の灰色の星 */
  letter-spacing: -2px;
}

.rateInner2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  color: #ffb906; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.line2 {
  position: relative;
  width: 80%; /* 幅を親要素に合わせる */
  padding-bottom: 10px;
  border-top: 1px solid rgb(184 184 184); /* 上部に1ピクセルの黒線を引く */
}

.line {
  position: relative;
  top: 10px;
  width: 100%; /* 幅を親要素に合わせる */
  border-top: 2px solid rgb(204 204 204); /* 上部に1ピクセルの黒線を引く */
}

.line3 {
  position: relative;
  top: 40px;
  width: 100%; /* 幅を親要素に合わせる */
  border-top: 2px solid #00bfff; /* 上部に1ピクセルの黒線を引く */
}

.noReviewsMessage {
  position: relative;
  top: 60px;
  left: 30px;
  width: 90%;
  height: 140px;
  font-size: 16px;
  color: #5b5b5b;
}

.mainContainer {
  position: relative;
  left: 380px;
  display: flex;
  flex-direction: column; /* Align children in a column */
  background-color: rgb(255 255 255);
}

.line4 {
  position: relative;
  top: 40px;
  width: 100%; /* 幅を親要素に合わせる */ /* 上部に1ピクセルの黒線を引く */
  border-top: 2px solid rgb(184 184 184);
}

.homeContainer {
  position: relative;
  top: 160px;
  left: 250px;
  display: flex;
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  width: 1100px;
  height: 30px;
  color: rgb(82 82 82);
  background-color: rgb(255 255 255);
}

.home {
  position: relative;
  width: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  background-color: #fff;
}

.home:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home2 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  background-color: #fff;
}

.home2:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home3 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* 文字の大きさを17pxに設定する */
  color: rgb(179 173 173);
  background-color: #fff; /* 背景色を灰色に設定する */
}

.home4 {
  position: relative;
  width: 700px;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  background-color: #fff;
}
