.modal {
  position: relative;
}

.helpwanted {
  position: relative;
  top: -260px;
  left: 400px;
  width: 600px;
  height: 600px;
  background-color: rgb(241 241 241);
}

.searchNameContainer {
  position: relative;
  top: 5px;
  left: auto;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 20px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);
  border-bottom: 2px solid rgb(142 142 142);
}

.searchNameContainer2 {
  position: relative;
  top: 5px;
  left: auto;
  padding-bottom: 17px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(0 0 0);
  border-bottom: 2px solid rgb(142 142 142);
}

.rankContent {
  /* ランクとチェックマークのスタイル */
}

.rankDropdown {
  /* 既存のスタイル... */
  position: relative;
  padding-right: 20px; /* 矢印のスペースを確保する */
  cursor: pointer;
}

.dropdownIcon {
  /* 矢印マークのスタイリング */
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  padding: 3px; /* 矢印のサイズ */
  border: solid black;
  border-width: 0 2px 2px 0; /* 線の太さを調整 */
  transition: transform 0.3s ease; /* アニメーション効果 */
  transform: translateY(-50%) rotate(45deg); /* 下向き矢印 */
}

.rankDropdown.active .dropdownIcon {
  transform: translateY(-50%) rotate(-135deg); /* 上向き矢印 */
}

.rankCheckboxes {
  display: none; /* 初期状態では非表示 */
  flex-direction: column;
  gap: 5px;
  padding: 20px 30px; /* 上下のパディング */
  font-size: 18px;
  font-weight: 500;
}

.rankDropdown.active + .rankCheckboxes {
  display: flex; /* アクティブなときに表示 */
}

.rankCheckboxes label {
  display: flex;
  align-items: center;
  margin-top: 5px; /* ラベル間の余白 */
}

/* チェックボックスのテキストサイズを設定 */
.rankCheckboxes label span {
  font-size: 17px; /* 例として14ピクセルに設定 */
}

/* チェックボックスのスタイリング */
.rankCheckboxes input[type='checkbox'] {
  margin-right: 30px; /* チェックボックスとテキストの間隔 */
}

.search {
  position: relative;
  top: 5px;
  left: auto;
  padding-top: 20px;
  padding-bottom: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; /* 文字の大きさを17pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(0 0 0);
  text-align: center; /* テキストを中央揃えにする */
  background-color: #d6fbfc; /* 背景色を灰色に設定する */
  border-bottom: 2px solid rgb(142 142 142);
}

.searchContainer {
  position: relative;
  top: 60px;
  left: 250px;
  width: 300px;
  height: 600px;
}

.container {
  height: 80px;
  background: #fafafa;
  border-bottom: 1px solid #63b5e5;
}

.profileImage {
  width: 100px; /* 画像のサイズを設定 */
  height: 100px; /* 画像のサイズを設定 */
  border: 1px solid #000; /* ボーダーの太さと色を設定 */
  border-radius: 50%; /* 画像を円形にする */
  object-fit: cover; /* 画像が枠に合わせて表示されるようにする */
}

.profileContainer {
  position: relative;
  top: 60px;
  left: 25px;
  display: inline-block;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 20px; /* Optional: adds space inside the container */
  padding-bottom: 40px;
  font-size: 19px;
  background: rgb(255 255 255);
  border: 1px solid #ccc; /* Optional: adds a border */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Optional: adds a subtle shadow */
}

.userImage {
  position: relative;
  top: 40px;
  left: 80px;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.ratingContainer {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start; /* Aligns items to the start of the container horizontally */
}

.rate {
  position: relative;
  top: 40px;
  left: 21px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 30px;
  font-size: 30px;
  color: #c4c4c4; /* 背景の灰色の星 */
}

.rateInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  color: #ffb906; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.rating {
  position: relative;
  top: 13px;
  left: 200px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 20px;
  font-size: 25px;
  color: #454444; /* 背景の灰色の星 */
}

.name {
  position: relative;
  top: 50px;
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center the child elements */
  width: 100%;
  height: 50px;
}

.achievementsContainer {
  position: relative;
  top: 50px;
  left: 20px;
  width: 90%;
  height: auto;
  background-color: #fff;
}

.achievements {
  position: relative;
  top: -20px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.achievementsTitle {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background: rgb(255 255 255);
}

.descriptionDetailContainer {
  position: relative;
  left: 20px;
  width: 90%;
  height: auto;
  margin-top: 80px;
  background-color: #fff;
}

.descriptionTitle {
  position: relative;
  top: -20px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.descriptions {
  position: relative;
  top: -10px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.allContainer {
  position: absolute; /* 絶対位置指定 */
  left: 50%; /* 水平方向の中央 */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  width: 100%;
  height: auto;
  padding-bottom: 500px;
  zoom: 0.9;
  transform: translate(-50%); /* X軸とY軸の両方で中央揃え */
}

.titleContainer {
  position: relative;
  width: 350px;
  height: 70px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(114 114 114);
  background-color: #fff;
  border-bottom: 2px solid rgb(142 142 142);
  box-shadow: rgb(3 102 214 / 30%) 0 0 0 1px;
}

.home9 {
  position: relative;
  top: 10px;
  left: 10px;
}

.homeContainer {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  width: 300px;
  height: 30px;
  color: rgb(50 50 50);
}

.home {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

.home:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home2 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(69 69 254); /* 文字色を青色に設定 */
  text-decoration: underline; /* 下線を追加 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

.home2:hover {
  color: rgb(120 120 255); /* ホバー時の文字色を変更 */
  text-decoration: none; /* ホバー時に下線を消去 */
}

.home3 {
  position: relative;
  margin-left: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* 文字の大きさを17pxに設定する */
  color: rgb(179 173 173);
}

.container2 {
  width: 94%;
  height: auto;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: rgb(255 255 255);
  border: 1px solid #b5b5b5; /* General border for all sides */
  border-top: 3px solid #71d3f7; /* Light blue top border */
  box-shadow: 2px 2px 3px rgb(199 199 199 / 50%); /* Shadow effect */
}

.helpwanted2 {
  position: relative;
  top: 20px;
  left: 25px;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.titleLine {
  position: relative;
  top: 80px;
  left: 580px;
  width: 800px; /* 幅を親要素に合わせる */
  border-top: 2px solid rgb(204 204 204); /* 上部に1ピクセルの黒線を引く */
}

.flexContainer {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center; /* 要素を垂直方向の中央に配置 */
  height: 70px;
  background-color: rgb(255 255 255);
}

.gameTitle {
  position: relative;
  top: 10px;
  left: 10px;
  width: 80%;
  height: auto;
  font-size: 26px;
  font-weight: bold;
  color: rgb(100 100 100);
  background-color: rgb(255 255 255);
}

.title {
  position: relative;
  right: 130px;

  /* 3行省略のスタイル */
  display: -webkit-box;
  width: 470px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.wrapper {
  position: relative;
  top: 10px;
  left: 30px;
  width: 80%;
  height: auto;

  /* 例えばパディング、マージン、ボーダーなどのスタイルを適用 */

  background-color: rgb(255 255 255);

  /* 必要に応じて他のスタイルを追加 */
}

.descriptionTitle2 {
  position: relative;
  display: flex;
  align-items: center; /* This aligns children vertically in the center */
  justify-content: center; /* Optionally, to center horizontally as well */
  width: 130px;
  height: auto;
  font-size: 13px;
  font-weight: bold;
  color: rgb(55 55 55);
  background-color: rgb(180 227 254);
  border-right: #e6e6e6 2px solid;
}

.description {
  position: relative;
  width: 330px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 1.2; /* Adjust this value as needed */
  letter-spacing: -0.1px;
  background-color: rgb(255 255 255);
}

.descriptionContainer {
  display: flex;
  gap: 20px; /* 画像間のスペースを20pxに設定 */
  width: 650px;
  margin-left: 30px;
  border: #d7d7d7 1px solid;
}

.rank {
  position: relative;
  top: -6px;
  right: 70px;
  display: flex;
  align-items: center; /* 中央揃え */
  width: 19px;
  height: auto;
  font-size: 15px;
  background-color: rgb(255 255 255);
}

.subjectRank {
  display: flex;
  gap: 20px; /* 画像間のスペースを20pxに設定 */
  width: 650px;
  margin-left: 30px;
  border: #d7d7d7 1px solid;
}

.subjectRankTitle {
  position: relative;
  display: flex;
  align-items: center; /* This aligns children vertically in the center */
  justify-content: center; /* Optionally, to center horizontally as well */
  width: 130px;
  height: auto;
  font-size: 13px;
  font-weight: bold;
  color: rgb(55 55 55);
  background-color: rgb(180 227 254);
  border-right: #e6e6e6 1px solid;
}

.rankImage {
  position: relative;
  top: 5px;
  width: 70px; /* 画像の幅 */
  height: auto; /* 画像の高さは自動調整 */

  /* その他のスタイル（必要に応じて） */
}

.subjectRankImage {
  width: 30px; /* 画像の幅 */
  height: auto; /* 画像の高さは自動調整 */

  /* その他のスタイル（必要に応じて） */
}

.subjectRankContainer {
  display: flex;
  gap: 10px; /* 画像間のスペースを20pxに設定 */
  margin-top: 7px;
  margin-bottom: 7px;
}

.tag {
  position: relative;
  gap: 40px;
  align-items: center;
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 13px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.tagText {
  display: inline-block;
  padding: 0.4em;
  margin: 0 0.1em 0.6em 0;
  line-height: 1;
  color: rgb(0 111 238);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgb(0 131 238);
  border-radius: 2em;
}

.tagText::before {
  content: '#';
}

.lessonType {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center; /* 中央揃え */
  width: 90%;
  height: auto;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 13px;
  background-color: rgb(255 255 255);
}

.lessonTypeContainer {
  display: flex;
  flex-wrap: wrap; /* 要素が折り返すように設定 */
  gap: 13px;
}

.lessonTypeText {
  display: inline-block;
  padding: 0.4em;
  margin: 0 0.1em 0.6em 0;
  line-height: 1;
  color: rgb(0 238 159);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgb(0 238 143);
  border-radius: 2em;
}

.userImageDetail {
  position: relative;
  right: 60px;
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.line {
  width: 100%; /* 幅を親要素に合わせる */
  margin-top: 40px; /* 上部の余白 */
  border-top: 2px solid rgb(204 204 204); /* 上部に1ピクセルの黒線を引く */
}

.line2 {
  width: 100%; /* 幅を親要素に合わせる */
  margin-top: 40px; /* 上部の余白 */
  border-top: 1px solid rgb(204 204 204); /* 上部に1ピクセルの黒線を引く */
}

.applyButton {
  position: relative;
  top: 25px;
  left: 270px;
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  color: #007bff; /* Blue text */
  cursor: pointer; /* Pointer cursor on hover */
  background-color: #fff; /* White background */
  border: 1px solid #7b81ff; /* Blue border */
  border-radius: 5px; /* Rounded borders */
  outline: none; /* Remove default focus outline */
  box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
  transition: box-shadow 0.6s; /* Smooth transition for shadow */
}

.applyButton .starIcon {
  margin-right: 5px; /* Space between star and text */
  color: #ffd700; /* Gold color for the star */
}

.applyButton:hover {
  box-shadow: 0 0 10px rgb(0 123 255 / 50%); /* Blue shadow on hover */
}

.date {
  position: relative;
  top: 20px;
  left: 380px;
  width: 180px;
  height: auto;
  font-size: 13px;
  color: rgb(55 55 55);
  background-color: rgb(255 255 255);
}

.horizontalLayout {
  display: flex; /* Establishes a flex container */
  gap: 20px; /* Adjusts the gap between items */
  align-items: center; /* Centers items vertically */
}

.selectPage {
  position: relative;
  top: 120px;
  left: 30px;
  width: 100%;
  height: auto;
  font-size: 13px;
  color: rgb(255 5 5);
  background-color: rgb(255 255 255);
}

.gameSort {
  position: relative;
  top: 45px;
  left: 630px;
  width: 150px;
  height: auto;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255 5 5);
  background-color: rgb(255 255 255);
}

.gameTitleContainer {
  position: relative;
  left: 20px;
  width: 800px;
  height: 140px;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 20px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);
  background-color: #fff;
  border-bottom: 2px solid rgb(142 142 142);
  box-shadow: rgb(3 102 214 / 30%) 0 0 0 1px;
}

.pagenation {
  position: relative;
  top: 50px;
  left: 30px;
  display: flex;
  justify-content: center; /* 水平方向中央揃え */
  width: 750px;
  height: 30px;
  padding-bottom: 100px;
}

.applyButton2 {
  position: relative;
  top: 25px;
  left: 270px;
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /* Blue text */
  cursor: pointer; /* Pointer cursor on hover */
  background-color: #3094ff; /* White background */
  border: 1px solid #7b81ff; /* Blue border */
  border-radius: 5px; /* Rounded borders */
  outline: none; /* Remove default focus outline */
  box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
  transition: box-shadow 0.6s; /* Smooth transition for shadow */
}

.applyButton2 .starIcon {
  margin-right: 5px; /* Space between star and text */
  color: #ffd700; /* Gold color for the star */
}

.container4 {
  position: absolute;
  top: 140px;
  right: 63%;
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に並べる */
}

.subContanier {
  position: absolute;
  top: 150px;
  left: 38%;
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 水平方向の中央揃え */
  width: 840px;
  height: auto;
  padding-bottom: 17px;
  margin-top: 20px;
  font-size: 20px; /* 文字の大きさを20pxに設定する */
  font-weight: bold; /* 文字を太くする */
  color: rgb(82 82 82);

  /* background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.sContainer3 {
  position: relative;
  top: 100px;
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  padding-bottom: 100px;

  /* background-color: #f6f6f6; */

  /* box-shadow: rgb(0 0 0 / 24%) 0 3px 8px; */
}
