.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さに合わせる */
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* フォーム要素間の隙間 */
}

.loginButton {
  position: relative;
  top: 50px;
  width: 400px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.container {
  height: 80px;
  background: #fafafa;
  border-bottom: 1px solid #63b5e5;
}

.loginTitle {
  position: absolute;
  top: 120px;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.kaninn {
  position: absolute;
  top: 180px;
  left: 65%;
  font-size: 15px;
  color: #0141c193;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.kaninn:hover {
  color: #93c6fd;
}

.searchmail {
  position: relative;
  top: -50px;
  left: 10%;
  width: 600px;
  height: 65px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px; /* 左側の角を丸くする */
  outline: none;
}

.searchInput:focus {
  border-color: #b4b4b4; /* フォーカス時のボーダーカラーを変更 */
}

.mail {
  position: absolute;
  top: 210px;
  left: 35%;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.password {
  position: absolute;
  top: 370px;
  left: 36%;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.searchpass {
  position: relative;
  top: -px;
  left: 10%;
  width: 600px;
  height: 65px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px; /* 左側の角を丸くする */
  outline: none;
}

.searchpass:focus {
  border-color: #b4b4b4; /* フォーカス時のボーダーカラーを変更 */
}

/* メッセージ入力フィールドのスタイル */

/* メッセージ入力フィールドのスタイル */
.messageInput {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px; /* 文字サイズを設定 */
  color: #333; /* 文字色を濃い灰色に */
  border: 1px solid #ccc; /* 灰色の境界線 */
  border-radius: 4px; /* 角を少し丸める */
}

/* 送信ボタンのスタイル */
.sendButton1 {
  position: relative;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px; /* 文字サイズを設定 */
  color: #333; /* 文字色を濃い灰色に */
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
  background-color: #84c6ff; /* 背景色を薄い灰色に */
  border: 1px solid #ccc; /* 灰色の境界線 */
  border-radius: 4px; /* 角を少し丸める */
  transition: background-color 0.3s; /* 背景色の変更にアニメーションを適用 */
}

.sendButton:hover {
  background-color: #e8e8e8; /* ホバー時に背景色を少し暗く */
}

.message {
  /* 共通のスタイル */
}

.left {
  /* 左側に配置するスタイル */
}

.right {
  /* 右側に配置するスタイル */
}

/* 左側のメッセージ（他のユーザー） */
.messageLeft {
  max-width: 70%;
  padding: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  border-radius: 15px;
}

/* 右側のメッセージ（自分） */
.messageRight {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end; /* 右側に寄せる */
  padding: 10px;
}

.messageContainer {
  display: flex; /* Flexboxを有効化 */
  align-items: flex-start; /* 子要素を左寄せにする */
}

.msgContent {
  position: relative;
  width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 5px;
  font-size: 15px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  word-wrap: break-word; /* 長いテキストを折り返す */
  background-color: #68fcff;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.userImage2 {
  position: relative;
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* チャット欄全体のスタイル */
.messageBox {
  position: fixed;
  top: 210px;
  left: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 子要素を左寄せにする */
  width: calc(100% - 370px); /* 画面の幅からコンテナの左端までの距離を引く */
  height: calc(100% - 210px); /* 画面の高さからコンテナの上端までの距離を引く */
  padding: 20px; /* 内側の余白 */
  background-color: #fff;
}

.messageBox3::-webkit-scrollbar {
  width: 8px;
}

.messageBox3::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.messageBox3::-webkit-scrollbar-thumb {
  background: #888;
}

.messageBox3::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
  border-radius: 10px; /* ホバー時も丸みを保持 */
}

.messageBox2 {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #fff;
}

.messageBox1 {
  position: relative;
  top: 10px;
  left: 50%;
  width: 150px;
  height: 50px;
  padding: 10px 19px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border-radius: 15px;
  transform: translateX(-50%);
}

.line {
  position: relative;
  top: 30px;
  width: 700px;
  border-top: 2px solid rgb(173 173 173); /* 上部に1ピクセルの黒線を引く */
}

.line2 {
  position: absolute;
  top: 580px;
  width: 700px;
  border-top: 2px solid rgb(173 173 173); /* 上部に1ピクセルの黒線を引く */
}

.messageBox3 {
  position: relative;
  top: 10px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 子要素を左寄せにする */
  width: calc(100% - 30px); /* 画面の幅からコンテナの左端までの距離を引く */
  height: calc(90% - 30px);
  overflow-y: auto; /* 高さを超えた際にスクロールバーを表示 */
}

.applayButton {
  position: relative;
  left: 10%;
  width: 150px;
  height: 40px;
  padding: 10px 20px; /* ボタン内の余白 */
  font-size: 16px; /* フォントサイズ */
  color: white; /* テキストの色を白に設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  background-color: orange; /* ボタンの背景色をオレンジに設定 */
  border: none; /* 境界線をなくす */
  border-radius: 10px; /* ボタンの角を丸くする */
  transition: background-color 0.3s; /* 背景色の変更にアニメーションを適用 */
}

.applayButton:hover {
  background-color: darkorange; /* ホバー時にはより濃いオレンジ色に変更 */
}

.applayButton2 {
  position: fixed;
  top: 620px;
  left: 1300px;
  height: 40px;
  padding: 10px 20px; /* ボタン内の余白 */
  font-size: 16px; /* フォントサイズ */
  color: white; /* テキストの色を白に設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  background-color: rgb(254 84 248); /* ボタンの背景色をオレンジに設定 */
  border: none; /* 境界線をなくす */
  border-radius: 10px; /* ボタンの角を丸くする */
  transition: background-color 0.3s; /* 背景色の変更にアニメーションを適用 */
}

.applayButton2:hover {
  background-color: rgb(253 43 218); /* ホバー時にはより濃いオレンジ色に変更 */
}

.profileContainer {
  position: relative;
  top: 50px;
  left: 300px;
  display: inline-block;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 20px; /* Optional: adds space inside the container */
  padding-bottom: 40px;
  font-size: 19px;
  background: rgb(255 255 255);
  border: 1px solid #ccc; /* Optional: adds a border */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Optional: adds a subtle shadow */
}

.userImage {
  position: relative;
  top: 6px;
  left: 30px;
  width: 70px; /* Adjust the size as needed */
  height: 70px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image circular */
}

.ratingContainer {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start; /* Aligns items to the start of the container horizontally */
}

.rate {
  position: relative;
  top: 40px;
  left: 21px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 30px;
  font-size: 30px;
  color: #c4c4c4; /* 背景の灰色の星 */
}

.rateInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  color: #ffb906; /* 前景の黄色い星 */
  white-space: nowrap; /* 星が折り返さないようにする */
}

.rating {
  position: relative;
  top: 13px;
  left: 200px;
  display: inline-block;
  width: 140px; /* 最大の星の幅 */
  height: 20px;
  font-size: 25px;
  color: #454444; /* 背景の灰色の星 */
}

.name {
  position: relative;
  top: 50px;
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center the child elements */
  width: 100%;
  height: 50px;
}

.achievementsContainer {
  position: relative;
  top: 50px;
  left: 20px;
  width: 90%;
  height: auto;
  background-color: #fff;
}

.achievements {
  position: relative;
  top: -20px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.achievementsTitle {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background: rgb(255 255 255);
}

.descriptionDetailContainer {
  position: relative;
  left: 20px;
  width: 90%;
  height: auto;
  margin-top: 80px;
  background-color: #fff;
}

.descriptionTitle {
  position: relative;
  top: -20px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Number of lines after which text will be truncated */
}

.descriptions {
  position: relative;
  top: -10px;
  left: 10px;
  display: -webkit-box; /* Required for line clamping */
  width: 93%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4; /* Adjust line spacing, smaller values mean tighter spacing */
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  background-color: rgb(255 255 255);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.parent {
  position: relative;
  display: flex;
  align-items: start;
  width: 100%;
}

.modal {
  position: fixed; /* Stay in place */
  top: 60px;
  left: 1px;
  z-index: 4; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 100px; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0 / 50%); /* Black w/ opacity */
}

.modalContent {
  position: relative;
  top: 40%;
  left: 50%;
  display: flex; /* フレックスボックスを有効化 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  width: 900px;
  height: 550px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.modalContent5 {
  position: relative;
  top: 40%;
  left: 50%;
  display: flex; /* フレックスボックスを有効化 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  width: 500px;
  height: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.msgContent2 {
  position: absolute;
  right: 0;
  display: flex;
  align-self: flex-end; /* 右側に寄せる */
  padding: 0;
  background-color: #fff;
}

.overflow::-webkit-scrollbar {
  width: 10px; /* スクロールバーの幅 */
}

/* スクロールバーのトラック（背景部分）のスタイルを設定 */
.overflow::-webkit-scrollbar-track {
  background: #f1f1f1; /* トラックの背景色 */
  border-radius: 10px;
}

/* スクロールバーのハンドル（動かす部分）のスタイルを設定 */
.overflow::-webkit-scrollbar-thumb {
  background: #888; /* ハンドルの背景色 */
  border-radius: 10px;
}

/* ハンドルをホバーしたときのスタイル */
.overflow::-webkit-scrollbar-thumb:hover {
  background: #555; /* ホバー時の背景色 */
  border-radius: 10px;
}

.msgContent3 {
  position: relative;
  top: -40px;
  width: 100%; /* または具体的なサイズ */
  margin-top: 40px;
  background-color: rgb(13 18 24);
}

.applyButton5 {
  position: relative;
  top: 200px;
  right: 60px;
  width: 170px;
  height: 50px;
  padding: 10px 19px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #ffad39;
  border: 2px solid #ffad39;
  border-radius: 15px;
  transform: translateX(-50%);
}

.closeButton {
  position: relative;
  top: 200px;
  right: 130px;
  width: 150px;
  height: 50px;
  padding: 10px 19px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border-radius: 15px;
  transform: translateX(-50%);
}

.modalTitle {
  position: relative;
  top: 10px;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #ed3030;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.modalMsgContent {
  position: relative;
  top: -40px;
  right: 10px;
  width: 400px;
  height: 400px;
  padding: 10px;
  font-size: 16px; /* 文字サイズを設定 */
  color: #333; /* 文字色を濃い灰色に */
  background-color: rgb(255 255 255); /* 背景色を白に */
  border-radius: 4px; /* 角を少し丸める */
  outline: none;
}

.modalMsgContent2 {
  position: relative;
  right: 10px;
  width: 400px;
  height: 400px;
  padding: 10px;
  font-size: 16px; /* 文字サイズを設定 */
  color: #333; /* 文字色を濃い灰色に */
  background-color: rgb(255 255 255); /* 背景色を白に */
  border-radius: 4px; /* 角を少し丸める */
  outline: none;
}

.modalMsg {
  position: relative;
  top: 110px;
  left: 160px;
  font-size: 15px;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.dateTimePicker {
  position: relative;
  top: 140px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(178 178 178 / 20%);
}

/* 日付入力フィールドのテキストを太くする */
.dateInput {
  font-weight: bold;
}

/* 時間入力フィールドのテキストを太くする */
.timeInput {
  font-weight: bold;
}

.dateInput,
.timeInput {
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(150 150 150);
  background-color: #fff;
  border: 2px solid #303030;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.dateInput:hover,
.timeInput:hover {
  border-color: #777;
}

.dateInput:focus,
.timeInput:focus {
  border-color: #aaa;
}

.dateMsg {
  position: relative;
  top: 30px;
  left: 200px;
  font-size: 15px;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.timeMsg {
  position: relative;
  top: 40px;
  left: 200px;
  font-size: 15px;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.title {
  position: relative;
  top: 60px;
  left: 30px;
  font-size: 15px;
  color: #000;
}

.containerBox {
  position: fixed;
  top: 160px; /* 上端を画面の上から160pxの位置に設定 */
  bottom: 0; /* 下端を画面の下に固定 */
  left: 1px;
  width: 371px;
  border-right: 2px solid #c3c3c3;
}

.dmTitleContainer {
  position: relative;
  left: 1px;
  width: 369px;
  height: 120px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #c3c3c3;
  box-shadow: rgb(50 50 93 / 25%) 0 2px 5px -1px, rgb(0 0 0 / 30%) 0 1px 3px -1px;
}

.dmTitle {
  position: relative;
  top: 30px;
  left: 60px;
  font-size: 23px; /* 文字サイズを設定 */
  font-weight: bold;
  color: #595959; /* 文字色を濃い灰色に */
}

.dmTitle2 {
  position: relative;
  top: 46px;
  left: 90px;
  display: flex; /* Flexboxを有効化 */
  justify-content: space-between;
  width: 200px;
}

.dmTitle3 {
  font-size: 14px; /* 文字サイズを設定 */
  font-weight: bold;
  color: #525252; /* 文字色を濃い灰色に */
}

.dmTitle4 {
  font-size: 14px; /* 文字サイズを設定 */
  font-weight: bold;
  color: #525252; /* 文字色を濃い灰色に */
}

.selected {
  position: relative; /* ::after疑似要素の基準点 */
}

.selected::after {
  position: absolute;
  bottom: -2px;
  left: -17%; /* 下線を中央に配置するために左にずらす */
  width: 130%;
  height: 2px;
  content: '';
  background-color: rgb(103 153 251); /* 下線の色 */
}

.roomList {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255);
  border: 1px solid #ccc; /* 薄いグレーのボーダー */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* 軽い影 */
}

.commentContainer {
  position: relative;
  left: 1px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  border: 1px solid #ccc; /* 薄いグレーのボーダー */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* 軽い影 */
}

.comment {
  position: relative;
  top: 5px;
  font-size: 18px;
}

.userName {
  position: relative;
  width: 150px;
  overflow: hidden; /* コンテナの外に出たテキストを隠す */
  font-size: 13px;
  white-space: nowrap; /* テキストを1行にする */
}

.userContainer {
  position: relative;
  top: 15px;
  left: 40px;
  width: 234px;
  height: 60px;
  overflow: hidden; /* コンテナの外に出たテキストを隠す */
  white-space: nowrap; /* テキストを1行にする */
}

.chatContainer {
  position: fixed;
  top: 160px;
  left: 370px;
  width: calc(100% - 370px); /* 画面の幅から370pxを引いた幅に設定 */
  height: 50px;
  background-color: #f5f5f5;
  border-right: 2px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3;
  box-shadow: rgb(50 50 93 / 25%) 0 2px 5px -1px, rgb(0 0 0 / 30%) 0 1px 3px -1px;
}

.title2 {
  position: relative;
  top: 12px;
  left: 45%;
  font-size: 18px; /* 文字サイズを設定 */
  font-weight: bold;
  color: #595959; /* 文字色を濃い灰色に */
}

.containerBox2 {
  position: fixed;
  top: 110px;
  left: 1px;
  width: 100%;
  height: 8%;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(146,768,347)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23DBFFFB'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.selectedRoom {
  background-color: rgb(231 231 231); /* 背景色を黒に設定 */
}

.mess {
  position: relative;
  top: 20px;
  left: 19%;
  display: flex;
  width: 60%;
}

.overflow {
  width: 60%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.userImageContainer {
  position: relative;
}

.participationConditions {
  position: relative;
  top: 30px;
  font-size: 13px;
}

.check {
  position: relative;
  top: 30px;
  font-size: 14px;
}

.checkBox {
  position: relative;
  top: 40px;
  font-size: 11px;
}

.participationConditionsTitle {
  position: relative;
  top: 30px;
  left: 20px;
  width: 90%;
  font-size: 11px;
}

.modalTitle2 {
  width: 400px;
  padding: 1rem 2rem;
  background: #f4f4f4;
  border-left: 5px solid #6cff43;
}

.modalRiyou {
  position: relative;
  top: 80px;
  font-size: 13px;
  font-weight: 800;
}

.modalContent2 {
  position: relative;
  top: 100px;
  left: 30px;
  width: 300px;
  height: 110px;
  padding: 7px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.2;
  background-color: #eaeaea;
}

.modalCon2 {
  position: relative;
  top: -70px;
  left: 60px;
  width: 600px;
  height: 350px;
  background-color: #fff;
}

.modalTitle3 {
  position: relative;
  top: 40px;
  font-size: 13px;
  font-weight: 600;
}

.tag {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 200px;
  height: 32px;
  color: #fff;
  background: #fa4141;
}

.tagtitle {
  position: relative;
  top: 6px;
  left: 12px;
}

.timeInputNote {
  position: relative;
  left: 10px;
  font-size: 14px;
}

.timeInputNotetitle {
  position: relative;
  top: 50px;
  font-size: 15px;
}

.timeContainer {
  position: relative;
  top: 80px;
  left: 40px;
  font-size: 13px;
}

.title54 {
  position: relative; /* Keeps original positioning context */
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  width: 100px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  margin: auto; /* Centers the element within its parent */
  font-size: 12px;
  font-weight: 600;
  text-align: center; /* Ensures the text itself is centered if it wraps */
  background-color: #bddbfc;
  border: 1px solid #898989; /* Adds a black border, adjust color as needed */
}

.modalContainer4 {
  position: relative;
  top: 60px;
  right: 10px;
  width: 450px;
  height: auto;
  background: rgb(255 255 255);
}

.modalTf {
  display: flex;
}

.title34 {
  position: relative; /* Keeps original positioning context */
  right: 30px;
  display: -webkit-box; /* WebKit用のフレックスボックス表示 */
  width: 300px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  overflow: hidden; /* 余分なテキストを隠す */
  font-size: 12px;
  font-weight: 300;
  text-align: center; /* Ensures the text itself is centered if it wraps */
  background-color: #fff;
  border: 1px solid #898989; /* Adds a black border, adjust color as needed */
  -webkit-box-orient: vertical; /* 子要素を垂直方向に配置 */
  -webkit-line-clamp: 1; /* 行数を1行に制限 */
}

.title3 {
  position: relative;
  top: 20px;
  font-size: 13px;
  font-weight: 600;
}

.title4 {
  position: relative;
  top: 60px;
}

.modalCon5 {
  position: relative;
  background-color: #007bff;
}

.closeButton66 {
  position: absolute;
  top: 380px;
  right: 230px;
  width: 130px;
  height: 50px;
  padding: 10px 19px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border-radius: 15px;
  transform: translateX(-50%);
}

.applyButton66 {
  position: absolute;
  top: 380px;
  right: 60px;
  width: 120px;
  height: 50px;
  padding: 10px 19px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #ffad39;
  border: 2px solid #ffad39;
  border-radius: 15px;
  transform: translateX(-50%);
}

.r6 {
  position: relative;
  font-size: 12px;
  font-weight: 600;
}
