.as {
  width: 100%;
  padding-bottom: 400px;
}

.allContainer {
  position: relative;
  width: 900px;
  height: auto;
  padding-bottom: 200px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.rankImage {
  position: relative;
  top: 5px;
  width: 70px; /* 画像の幅 */
  height: auto; /* 画像の高さは自動調整 */

  /* その他のスタイル（必要に応じて） */
}

.title {
  position: relative;
  top: 60px;
  left: 100px;
  width: 600px;
  font-size: 19px;
  font-weight: bold;
  color: #2b2b2b;
}

.content {
  position: relative;
  left: 140px;
  width: 600px;
  margin-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

.subTitle {
  position: relative;
  left: 140px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #313131;
}

.subTitleContainer {
  position: relative;
  top: 100px;
}

.next2 {
  position: relative;
  top: 150px;
  left: 150px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

.next3 {
  position: relative;
  left: 50px;
  width: 200px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}
