.allContainer {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  padding-bottom: 200px;
}

.vertical {
  position: relative;
  display: flex; /* Flexboxコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  margin-top: 40px;
}

.aside {
  position: relative;
  top: 130px;
  z-index: 2;
  width: 100%;
  height: 20px;
  background-color: #fff;
}

.aside1 {
  position: relative;
  top: 180px;
  z-index: 2;
  width: 100%;
  height: 20px;
  background-color: #fff;
}

.container1 {
  position: relative;
  top: 200px;
  display: flex;
  width: 900px;
  height: 260px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
}

.required {
  width: 30px;
  margin-left: 14px; /* ラベルテキストとの間隔 */
  color: white; /* 必須マークを赤色に */
  background-color: #f00;
}

.mail2 {
  position: relative;
  top: -2px;
  font-size: 11px;
}

.container2 {
  padding-bottom: 100px;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さに合わせる */
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* フォーム要素間の隙間 */
}

.loginButton {
  position: relative;
  top: 30px;
  left: 27px;
  width: 550px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.container {
  height: 80px;
  background: #fafafa;
  border-bottom: 1px solid #63b5e5;
}

.loginTitle {
  position: relative;
  top: 40px;
  left: 49px;
  width: 340px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.kaninn {
  position: absolute;
  top: 180px;
  left: 65%;
  font-size: 15px;
  color: #0141c193;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.kaninn:hover {
  color: #93c6fd;
}

.searchmail {
  position: relative;
  left: 5%;
  width: 550px;
  height: 65px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px; /* 左側の角を丸くする */
  outline: none;
}

.searchInput:focus {
  border-color: #b4b4b4; /* フォーカス時のボーダーカラーを変更 */
}

.mail {
  position: relative;
  top: 30px;
  left: 60px;
  width: 100%; /* コンテナの幅を指定（必要に応じて） */
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.pick {
  position: relative;
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  gap: 10px;

  /* 必要に応じて他のスタイリングを追加 */
}

.rankItem {
  position: relative;
  top: 150px;
  left: 60px;
  display: flex;
  gap: 5px; /* チェックボックスとラベルの間のスペース */
  align-items: center; /* チェックボックスとラベルを中央揃え */
}

.rankItem input {
  width: 16px;
  height: 20px;
}

.rankName {
  font-size: 16px;
  font-weight: bold;
  color: rgb(63 63 63);
}

.next {
  position: relative;
  left: 60px;
  width: 250px;
  padding: 10px 15px;
  margin-top: 200px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.password {
  position: relative;
  top: 370px;
  left: 36%;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transform: translateX(-50%); /* 左に50%ずらす */
}

.searchpass {
  position: relative;
  top: -px;
  left: 10%;
  width: 600px;
  height: 65px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px; /* 左側の角を丸くする */
  outline: none;
}

.searchpass:focus {
  border-color: #b4b4b4; /* フォーカス時のボーダーカラーを変更 */
}

.progressBarContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.step {
  position: relative;
  top: 200px;
  left: 340px;
  display: flex;
  align-items: center; /* 縦軸に中央揃え */
  justify-content: space-between; /* 各ステップを均等に配置 */
  width: 900px;
  padding-right: 90px;
  margin-left: 59px;
}

.stepContainer {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: center; /* 子要素を中央揃えにする */
  text-align: center;
}

.as {
  position: relative;
  top: 180px;
  width: 900px;
  height: auto;
  padding-bottom: 40px;
  color: rgb(123 123 123);
  background-color: #fff;
  border-top: 1px solid #7b7b7b; /* 灰色のボーダーを追加 */
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  transition: background-color 0.3s ease;
}

.as1 {
  position: relative;
  top: 180px;
  width: 900px;
  height: auto;
  padding-bottom: 140px;
  color: rgb(123 123 123);
  background-color: #fff;
  border-top: 1px solid #7b7b7b; /* 灰色のボーダーを追加 */
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  transition: background-color 0.3s ease;
}

.as3 {
  position: relative;
  top: 180px;
  width: 900px;
  height: auto;
  padding-bottom: 200px;
  color: rgb(123 123 123);
  background-color: #fff;
  border-top: 1px solid #7b7b7b; /* 灰色のボーダーを追加 */
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  transition: background-color 0.3s ease;
}

.stepNumber {
  width: 20px;
  height: 20px;
  color: #fff;
  background: #ddd;
  border-radius: 50%;
}

.stepNumberLine {
  position: relative;
  top: -12px;
  left: 110px;
  z-index: 33;
  width: 200px;
  height: 4px;
  content: '';
  background: #ddd;
}

.step.active .stepNumber {
  background: #007bff; /* アクティブなステップの色 */
}

.stepTitle {
  width: 220px;
  margin-top: 5px;
}

.select {
  position: relative;
  top: 50px;
  left: 60px;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: rgb(0 0 0);
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #878787;
  border-radius: 4px;
}

.completedStepNumber {
  color: #fff; /* 白色のテキスト */
  background: #007bff; /* 青色 */
}

/* 完了したステップの線のスタイル */
.completedStepNumberLine {
  background: #007bff; /* 青色 */
}

.subjectRank {
  position: relative;
  top: 110px;
  left: 60px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.myRank {
  position: relative;
  top: 60px;
  left: 60px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.select2 {
  position: relative;
  top: 80px;
  left: 60px;
  z-index: 100;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: rgb(0 0 0);
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #878787;
  border-radius: 4px;
}

.title {
  position: relative;
  top: 40px;
  left: 100px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.input {
  position: relative;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 55px;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}

.yoko {
  position: relative;
  top: 90px;
  left: 100px;
  display: flex; /* Flexboxを有効化 */
}

.yoko1 {
  position: relative;
  top: 160px;
  left: 100px;
  display: flex; /* Flexboxを有効化 */
}

.yoko2 {
  position: relative;
  top: 160px;
  left: 100px;
  display: flex; /* Flexboxを有効化 */
}

.next4 {
  position: relative;
  left: 40px;
  width: 200px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.description {
  position: relative;
  top: 90px;
  left: 100px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.inputDescription {
  position: relative;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 355px;
  padding: 8px;
  margin-top: 58px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}

.acheavement {
  position: relative;
  top: 80px;
  left: 100px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.inputAcheavement {
  position: relative;
  top: 40px;
  left: 100px;
  width: 600px;
  height: 255px;
  padding: 8px;
  margin-top: 58px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}

.next2 {
  position: relative;
  width: 200px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #fcb46b;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.next3 {
  position: relative;
  top: 160px;
  left: 60px;
  width: 250px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.notes {
  position: relative;
  top: 90px;
  left: 100px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
}

.inputNotes {
  position: relative;
  top: 60px;
  left: 100px;
  width: 600px;
  height: 155px;
  padding: 8px;
  margin-top: 38px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}

.tagItem {
  position: relative;
  top: 30px;
  left: 0;
  display: flex;
  gap: 5px; /* チェックボックスとラベルの間のスペース */
  align-items: center; /* チェックボックスとラベルを中央揃え */
}

.noPick {
  position: relative;
  left: 100px;
}

.customStepsContainer {
  position: relative;
  top: 140px;
  right: 120px;
  width: 900px; /* 希望する横幅に設定 */
  font-weight: 600;
}

.warning {
  position: relative;
  top: 180px;
  left: 60px;
  font-size: 13px;
  color: #ff3535;
}

.warning2 {
  position: relative;
  top: 70px;
  left: 100px;
  font-size: 13px;
  color: #ff3535;
}

.warning3 {
  position: relative;
  top: 140px;
  left: 100px;
  font-size: 13px;
  color: #ff3535;
}
